{% extends "Base/Base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			{% include 'PageSections/PageSections-front_page.twig' %}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
