<footer class="site-footer">
  <section class="site-footer-copyright">
    {{ __('&copy; %1$s %2$s.', 'px-base-theme')|format(("now"|date('Y')), site.name) }} {{ __('Crafted by <a href="https://booncon.com" target="_blank">booncon</a>.', 'px-base-theme') }}
  </section>
</footer>
