<section class="page-section page-section-{{section.acf_fc_layout}} {% block PageSectionClasses %}{% endblock %}" {% block PageSectionId %}{% endblock %} {% block PageSectionData %}{% endblock %}>
  {% block PageSection %}
  {% endblock %}
</section>
