{% extends 'PageSection/PageSection.twig' %}

{% block PageSection %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-lg-6">
        <div class="description-text">
        {{section.description_text}}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
