{% extends 'PageSection/PageSection.twig' %}

{% block PageSection %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-10 offset-lg-1">
      <h2 class="text-xs-center">{{section.title}}</h2>
      {% set column_count = function('count', section.text_columns)%}
      {% set column_width = 12/column_count %}
      <div class="row">
        {% for text_column in section.text_columns %}
        <div class="col-xs-12 col-lg-{{column_width}}">
          {{text_column.content}}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
